html {

  background-color: #fff;
  font-family: "Open Sans";
  letter-spacing: -0.05em;
  scroll-behavior: smooth;


}

.darkbg {

  background-color: #fff;
  color: #c7c7c7;

  padding: 20px;


}

.sectionDiv {
  font-family: 'IBM Plex Mono' !important;
  color: #444444;
  font-size: 1.2em !important;


}

.sectionDivNumber {
  font-family: 'IBM Plex Mono';
  color: #186cb5;

}


.intro h2,
.skills h2 {

  font-family: 'Open Sans';
  font-size: 3.2em;
  /* font-size: 57px; */
  font-weight: 700;
  color: #444444;


}

.intro p,
.skills p {

  font-family: 'Open Sans';
  font-size: 1em;
  color: #444444;
  font-weight: 400;

}

.intro-profile-picture {
  clip-path: circle(40% at center);
  margin:20px;
}



.intro-text-box {
  height: 1000px;
  margin: auto;
  margin-top: 1000px;


}

.social-icons {

  position: fixed;
  left: 20px;
  bottom: 40px;
  text-decoration: none;
}

.icon-s {
  transition: all 0.4s ease;
  z-index: 15;
  text-decoration: none;
  color: #444;
}

.icon-s:hover {

  color: #3a73ea;
  display: inline-block;
  text-decoration: none;
  transform: translateY(-2px);
  transition: all 0.4s ease;
  cursor: pointer;


}



.mail-line {

  position: fixed;
  right: 20px;
  bottom: 40px;
  writing-mode: vertical-rl;
  /* -webkit-transform: rotate(90deg); */


}

.skills {
  text-align: left;

}


.header {
  height: 100px;
  background: #dddddd;
  padding: 0 20px;
  color: #fff;
  font-family: 'IBM Plex Mono';


}

.logo {
  line-height: 100px;
  float: left;
  text-transform: none;
}


.menu {
  float: right;
  line-height: 100px;
  opacity: 0.92 !important;
  /* z-index: -10 !important; */
}

.menu a {
  display: inline-block;
  color: #444444;
  padding: 0 10px;
  transition: all 0.4s ease;
}

.menu a:hover {

  display: inline-block;
  text-decoration: none;
  transform: translateY(-3px);
  transition: all 0.4s ease;
  color: #444444;


}


.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 100px;
}



.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #3498db;
}

/* #chk{
  position: absolute;
  visibility: hidden;
  z-index: -5;
} */


.blurScreen {
  opacity: 1;

}

.mobileMenuItems {
  display: none;

}

.ctaBtn {

  font-family: 'IBM Plex Mono';
  font-weight: 600;
  opacity: 1;
  color: white !important;
  border-color: rgb(74, 144, 226);
  margin: 20px;
  border-radius: 5px;
  background-color: #3a73ea;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 29px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

}

/* @media screen and (max-width:800px), (orientation: portrait) */

@media screen and (max-width:800px) {

  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }

  .mobileSpace {

    display: none;
  }

  .mobileMenuItems {
    display: block;
    position: fixed;
    text-align: center;
    bottom: 10px;
    width: 100%;

  }


  .mail-line,
  .social-icons {
    display: none;

  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    right: 0;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    /* transition: 0.7s; */
    opacity: 0;
    /* z-index: 100;  */
  }

  .menu a {
    display: block;
    padding: 20px;
  }

  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  /*Once menu button is clicked */
  /* #chk:checked ~ .menu{     
    right: 0;
    top: 0;
    z-index: 10;
    opacity: 0.95;
  } */







  .footer {
    text-align: center;
  }

  .tabLabels a {
    font-size: 0.7em !important;
    padding: 35px 15px !important;
  }

  .tabcontent {
    padding: 0px 5px !important;
  }

  .clients h3 {
    font-size: 1em !important;
  }

  .clients p {
    font-size: 0.8em !important;
  }

  .showcase {
    -webkit-filter: blur(3px) !important;
    /* Safari */
    filter: blur(35px);
  }

  .workMargin {
    margin-top: -300px;
    margin-bottom: -300px;
  }



}

@media screen and (max-width:600px) {
  .workTextSection {
    margin: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    right: -30px !important;
    bottom: 380px;
  }

  .firstWork {
    position: relative;
    bottom: 50px;
  }

  .projects {
    margin-top: -350px;
    margin-bottom: -420px;
  }
}

.tabLabels {
  float: left;
  /* border: 1px solid #ccc; */
  background-color: #fff;
  width: 30%;
  height: auto;
}


.tabLabels a {
  display: block;
  background-color: inherit;
  padding: 27px 15px;
  width: 100%;
  border-left: 5px solid #dddddd;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9em;
  font-family: 'IBM Plex Mono'
}


.tabLabels a:hover {
  background-color: #efefef;
  color: #186cb5 !important;
  border-left: 5px solid #186cb5;
}



.tabcontent {
  float: left;
  padding: 0px 35px;
  width: 70%;
  border-left: none;
  height: auto;

}


.clients h3 {
  font-family: 'Open Sans';
  font-size: 1.2em;
  font-weight: 700;
  color: #444444;


}

.clients p,
.work p {
  font-family: 'Open Sans';
  font-size: 1em;
  font-weight: 400;
  color: #444444;


}

.work h3 {
  font-family: 'Open Sans';
  font-size: 1.5em;
  font-weight: 400;
  color: #444444;
  text-align: right;

}

.work h4 {
  font-family: 'IBM Plex Mono';
  font-size: 1.0em;
  color: #186cb5;
  text-align: right;

}

.workCard {
  padding: 20px;
  background-color: #efefef;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.workTextSection {
  position: relative;
  right: 120px;
  text-align: right;

}


.showcase {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s ease-in-out;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  position: relative;
  /* cursor: pointer; */

}

.showcase:hover {

  transition: 0.3s ease-in-out;



  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-filter: none;
  /* Safari 6.0 - 9.0 */
  filter: none;

  z-index: 100;


}




.footer {

  background: #dddddd;
  padding: 0px;



}

.footer p {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 14px;
  color: #444444;


}

.footer a {
  font-family: 'Open Sans';
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  display: block;
  font-size: 14px;
  color: #000000 !important;
}













/* Mouse scroll animation CSS (minified) */

.bounceElement {
  transition-delay: 2s;
  animation: bounce 3s infinite alternate;
  -webkit-animation: bounce 3s infinite alternate
}

@keyframes bounce {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(10px)
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(10px)
  }
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%
  }

  15% {
    opacity: 1;
    top: 50%
  }

  50% {
    opacity: 0;
    top: 50%
  }

  100% {
    opacity: 0;
    top: 29%
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%
  }

  15% {
    opacity: 1;
    top: 50%
  }

  50% {
    opacity: 0;
    top: 50%
  }

  100% {
    opacity: 0;
    top: 29%
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%
  }

  15% {
    opacity: 1;
    top: 50%
  }

  50% {
    opacity: 0;
    top: 50%
  }

  100% {
    opacity: 0;
    top: 29%
  }
}

.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center
}

.scroll-btn>* {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: 400;
  color: #444;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px
}

.scroll-btn>.active,
.scroll-btn>:focus,
.scroll-btn>:hover {
  color: #444
}

.scroll-btn>.active,
.scroll-btn>:active,
.scroll-btn>:focus,
.scroll-btn>:hover {
  opacity: .8;
  filter: alpha(opacity=80)
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #444;
  border-radius: 23px
}

.scroll-btn .mouse>* {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #444;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite
}